*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: url(../img/estrellas.gif);    
}
span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 18ch;
    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
    overflow: hidden;  
    color: white;
    font-size: 80px;
}
@keyframes typing{
    from {width: 0}
}
@keyframes blink{
    50% {border-color: transparent}
}
.contenedor{
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
}

